<h1><a href="/urls">Tiny URL</a></h1>


<% if(user) {%>
    <label>Welcome, <%=user.email%></label>
    <form method="post" action="/logout">
        <input type="submit" value="Logout"/>
    </form>
<% } else {%>
    <form method="GET" action= '/login' >
        <button type = 'submit'>Login</button>
    </form>
<% } %>




