<h1><a href="/urls">Tiny URL</a></h1>
<a href="/urls/new">Create Tiny URL</a>
<form method="POST" action= /login >
    <lable for = "username">Username:</lable>
    <br>
    <input type = 'text' name = 'username'></input>
    <br>
    <button type = 'submit'>Login</button>
</form>


