<h1>Welcome Maddie</h1>

This is an EJS template page that will be displayed on the browser. You learnt:

<ul>
    <li>res.send</li>
    <li>console.log</li>
    <li>res.redirect</li>

</ul>

<br>
The Employee Information is:
id : <%= data.id %> | name: <%= data.name%> | Job: <%= data.job %>
</b>